
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}
.bar text {
  fill: #fff;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#histoSelectorRange
{
	width: 300px;
}
.arc path {
  stroke: #fff;
}

.tick line
{
	opacity: .3;
}
.domain 
{
	opacity: 0;
}
.density
{
  fill: none;
  stroke: red;
  shape-rendering:;
}
.reduceDiv
{
	
	margin-left: 60%;
}